# top-most EditorConfig file
root = true

# settings every file
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# matches multiple files with brace expansion notation
# set default charset
[*.{js,py}]
charset = utf-8

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

# tab indentation (no size specified)
[Makefile]
indent_style = tab

# indentation override for all JS under lib directory
[lib/**.js]
indent_style = space
indent_size = 2

# matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

# matches multiple files with brace expansion notation
[*.{md,markdown}]
trim_trailing_whitespace = false

